.container__wrapper {
    margin-top: 130px;
    transition: .3s ease-in-out;
    position: relative;
    @include max(990px) {
        margin-top: 94px;
    }
    .container {
        max-width: 1480px;
        width: 100%;
        display: block;
        margin: 0 auto;
        padding: 0 30px;
        @include max(1540px) {
            max-width: 100%;
            width: calc(100vw - 60px);
        }
        &.container--page {
            & > * {
                &:not(:last-child) {
                    margin-bottom: 120px;
                    @include max(980px) {
                        margin-bottom: 60px;
                    }
                }
            }
        }
    }
    &.sign-up-template {
        margin-top: 0;
        @include max(990px) {
            padding-top: 0;
        }
        .container {
            max-width: 960px;
            @include max(1020px) {
                max-width: 100%;
                width: calc(100vw - 60px);
            }
        }
    }
    &.blurred {
        filter: blur(6px);
    }
}