.hero-banner {
    min-height: calc(100vh - 130px);
    display: flex;
    align-items: center;
    @include max(990px) {
        min-height: calc(100vh - 64px);
        position: relative;
    }
    &::after {
        content: "";
        background-image: url('../assets/images/hero-left-red.svg');
        left: -250px;
        top: -250px;
        width: 770px;
        height: 770px;
        background-size: 770px 770px;
        position: absolute;
        z-index: -10;
        @include max(1160px) {
            background-image: url('../assets/images/hero-left-red-tablet.svg');
            background-size: 690px 901px;
            width: 690px;
            height: 901px;
            top: -400px;
        }
    }
    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        @include max(780px) {
            align-items: flex-start;
        }
        @include max(650px) {
            flex-direction: column;
            justify-content: initial;
            align-items: center;
        }
        .hero-banner__text {
            max-width: 490px;
            width: 100%;
            margin-right: 30px;
            margin-bottom: 30px;
            @include max(690px) {
                max-width: 35vw;
                margin-bottom: 0;
            }
            @include max(650px) {
                align-self: flex-start;
                max-width: 100%;
            }
            .usp {
                @include max(910px) {
                    max-width: 400px;
                }
                @include max(690px) {
                    max-width: 100%;
                }
            }
            p {
                margin: 60px 0 30px;
                @include max(910px) {
                    max-width: 340px;
                }
                @include max(690px) {
                    max-width: 100%;
                    margin: 30px 0;
                }
            }
            .accordion {
                @include max(650px) {
                    display: none !important;
                }
            }
        }
        & > .accordion {
            display: none;
            @include max(650px) {
                display: block;
                width: calc(100% - 60px);
                // align-self: flex-start;
            }
        }
        .hero-banner__images {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-right: 65px;
            position: relative;
            @include max(1420px) {
                margin-right: 53px;
            }
            @include max(1160px) {
                margin-right: 39px;
            }
            @include max(650px) {
                justify-content: flex-end;
                width: 100%;
                margin-right: 0;
                right: -100px;
                margin-top: 0px;
                margin-bottom: 30px;
            }
            &::after {
                content: "";
                background-image: url('../assets/images/hero-pills-blue.svg');
                background-size: 1299px 1112px;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                display: inline-block;
                height: 1112px;
                width: 1299px;
                position: absolute;
                z-index: -1;
                background-repeat: no-repeat;
            }
            .hero-image {
                z-index: 100;
                &--first {
                    margin-top: 115px;
                    margin-right: 73px;
                    position: relative;
                    @include max(1160px) {
                        margin-right: 0;
                        margin-top: 0;
                    }
                    &::after {
                        content: "";
                        height: 500px;
                        width: 200px;
                        border-radius: 1000px;
                        transform: rotate(15deg);
                        border: 1px solid $accent02--active;
                        position: absolute;
                        left: -40px;
                        top: 50px;
                        @include max(650px) {
                            height: 300px;
                        }
                    }
                    .hero-image__photo-wrapper {
                        overflow: hidden;
                        height: 500px;
                        width: 200px;
                        border-radius: 1000px;
                        transform: rotate(15deg);
                        position: relative;
                        @include max(650px) {
                            height: 400px;
                        }
                        .hero-image__photo {
                            background-image: url('../assets/images/placeholders/stock-photo-1.jpg') !important;
                            background-size: auto 500px;
                            background-position: center center;
                            position: absolute;
                            left: 50%;
                            top: 50%;
                            transform: translate(-50%, -50%) rotate(-15deg);
                            width: 400px;
                            height: 500px;
                            background-color: $accent02--active;
                            background-blend-mode: luminosity;
                            @include max(650px) {
                                height: 400px;
                            }
                        }
                    }
                    .hero-image__tooltip {
                        left: -90px;
                        bottom: 0;
                        @include max(650px) {
                            display: block !important;
                            .tooltip-dot {
                                display: none;
                            }
                        }
                        .tooltip {
                            left: calc(100% - 155px);
                            bottom: calc(100% - 110px);
                            @include max(650px) {
                                opacity: 1;
                                left: calc(100% - 400px);
                                bottom: calc(100% + 30px);
                            }
                            @include max(450px) {
                                left: -30vw;
                            }
                            &::before {
                                left: -11px;
                                right: 0;
                                bottom: 86px;
                                transform: rotate(180deg);
                                @include max(650px) {
                                    left: initial;
                                    right: -11px;
                                    transform: initial;
                                    top: 30px;
                                }
                            }
                        }
                    }
                }
                &--second {
                    margin-top: -35px;
                    margin-right: 50px;
                    position: relative;
                    @include max(1420px) {
                        margin-right: 0;
                    }
                    @include max(1160px) {
                        display: none;
                    }
                    .hero-image__photo-wrapper {
                        height: 600px;
                        width: 200px;
                        border-radius: 1000px;
                        transform: rotate(15deg);
                        position: relative;
                        overflow: hidden;
                        .hero-image__photo {
                            background-image: url('../assets/images/placeholders/stock-photo-2.jpg') !important;
                            background-size: auto 600px;
                            background-position: center center;
                            position: absolute;
                            left: 50%;
                            top: 50%;
                            transform: translate(-50%, -50%) rotate(-15deg);
                            width: 400px;
                            height: 600px;
                            background-color: $accent02--active;
                            background-blend-mode: luminosity;
                        }
                    }
                    .hero-image__tooltip {
                        left: -10px;
                        bottom: 450px;
                        .tooltip {
                            left: calc(100% - 240px);
                            top: calc(100% + 45px);
                            &::before {
                                left: 46px;
                                right: 0;
                                top: -17px;
                                transform: rotate(-90deg);
                            }
                        }
                    }
                }
                &--third {
                    position: relative;
                    @include max(1420px) {
                        display: none;
                    }
                    &::after {
                        content: "";
                        height: 600px;
                        width: 200px;
                        border-radius: 1000px;
                        transform: rotate(15deg);
                        border: 1px solid $accent02--active;
                        position: absolute;
                        right: -45px;
                        top: -20px;
                    }
                    .hero-image__photo-wrapper {
                        height: 700px;
                        width: 200px;
                        border-radius: 1000px;
                        transform: rotate(15deg);
                        position: relative;
                        overflow: hidden;
                        .hero-image__photo {
                            background-image: url('../assets/images/placeholders/stock-photo-3.jpg') !important;
                            background-size: auto 700px;
                            background-position: center center;
                            position: absolute;
                            left: 50%;
                            top: 50%;
                            transform: translate(-50%, -50%) rotate(-15deg);
                            width: 400px;
                            height: 700px;
                            background-color: $accent02--active;
                            background-blend-mode: luminosity;
                        }
                    }
                    .hero-image__tooltip {
                        right: -210px;
                        bottom: 230px;
                        .tooltip {
                            left: calc(100% - 425px);
                            top: calc(100% - 70px);
                            &::before {
                                right: -11px;
                                top: 70px;
                            }
                        }
                    }
                }
                &__tooltip {
                    position: relative;
                    .tooltip-dot {
                        width: 18px;
                        height: 18px;
                        border-radius: 100%;
                        border: 3px solid rgba(174, 35, 56, 0.6);
                        position: absolute;
                        background-color: $white;
                        cursor: pointer;
                        animation: pulse-animation 1.7s infinite;
                        box-shadow: 0px 0px 1px 1px $accent01--inactive;
                    }
                    .tooltip {
                        // display: none;
                        position: absolute;
                        background-color: $white;
                        padding: 30px;
                        box-shadow: 0px 2.767256498336792px 2.2138051986694336px 0px rgba(0, 0, 0, 0.0084), 0px 6.650102138519287px 5.32008171081543px 0px rgba(0, 0, 0, 0.0121), 0px 12.521552085876465px 10.017241477966309px 0px rgba(0, 0, 0, 0.015), 0px 22.3363094329834px 17.869047164916992px 0px rgba(0, 0, 0, 0.0179), 0px 41.777610778808594px 33.422088623046875px 0px rgba(0, 0, 0, 0.0216), 0px 100px 80px 0px rgba(0, 0, 0, 0.03);
                        max-width: 145px;
                        width: 100%;
                        border-radius: 4px;
                        z-index: 200;
                        pointer-events: none;
                        opacity: 0;
                        transition: .3s ease-in-out;
                        &.visible {
                            opacity: 1;
                        }
                        &::before {
                            content: "";
                            position: absolute;
                            background-image: url('../assets/images/tooltip-arrow.svg');
                            width: 11px;
                            height: 23px;
                            background-size: 11px 23px;
                            display: inline-block;
                        }
                        &__heading {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            .tooltip__quotation-marks {
                                background-image: url('../assets/images/quotation-marks.svg');
                                width: 15px;
                                height: 16px;
                                background-size: 15px 16px;
                                display: inline-block;
                            }
                            .tooltip__stars {
                                background-image: url('../assets/images/stars.svg');
                                width: 70px;
                                height: 14px;
                                background-size: 70px 14px;
                                display: inline-block;
                            }
                        }
                        &__description {
                            font-size: 14px;
                            line-height: 18.2px;
                            font-weight: 400;
                            margin: 30px 0;
                            font-style: italic;
                            color: $black;
                        }
                        &__name {
                            font-size: 14px;
                            line-height: 14px;
                            font-weight: 600;
                            font-family: $primaryFont;
                            text-transform: uppercase;
                            color: $accent01--active;
                        }
                        &__company-name {
                            font-size: 10px;
                            line-height: 13px;
                            color: $grey;
                            margin-top: 5px;
                        }
                    }
                }
            }
        }
    }
    &.hero-banner--service {
        &::after {
            background-image: url('../assets/images/hero-left-blue.svg');
            @include max(1160px) {
                background-image: url('../assets/images/hero-left-blue-tablet.svg');
            }
        }
        .hero-banner__inner {
            .hero-banner__text {
                p {
                    margin: 30px 0;
                }
            }
            .hero-banner__images {
                &::after {
                    background-image: url('../assets/images/hero-pills-red.svg');
                }
                .hero-image {
                    &::after {
                        border: 1px solid $accent01--active;
                    }
                    .hero-image__photo-wrapper {
                        .hero-image__photo {
                            background-color: $accent01--active;
                            background-blend-mode: screen;
                        }
                    }
                }
            }
        }
    }
    &.hero-banner--plain {
        min-height: 440px;
        &::after {
            background-image: url('../assets/images/hero-left-blue.svg');
            @include max(1160px) {
                background-image: url('../assets/images/hero-left-blue-tablet.svg');
            }
        }
        &::before {
            content: "";
            background-image: url('../assets/images/hero-right-red.svg');
            right: -250px;
            top: 250px;
            width: 770px;
            height: 770px;
            background-size: 770px 770px;
            position: absolute;
            z-index: -10;
        }
        .hero-banner__inner {
            .hero-banner__text {
                max-width: 100%;
                margin-bottom: 0;
                p {
                    margin: 30px auto;
                    max-width: 760px;
                    display: block;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
                & > * {
                    text-align: center;
                }
            }
        }
    }
}

@keyframes pulse-animation {
    0% {
        box-shadow: 0 0 0 0px rgba(85, 17, 27, 0.2);
    }
    100% {
        box-shadow: 0 0 0 20px rgba(85, 17, 27, 0);
    }
}