p, span {
    color: $black;
}

.label {
    font-size: 14px;
    line-height: 14px;
    font-weight: 600;
    font-family: $primaryFont;
    color: $accent01--active;
    text-transform: uppercase;
}

h1 {
    font-family: $primaryFont;
    font-size: 40px;
    line-height: 52px;
    color: $black;
    font-weight: 700;
    @include max(910px) {
        font-size: 32px;
        line-height: 36px;
    }
}

h2 {
    font-family: $primaryFont;
    font-size: 34px;
    line-height: 44.2px;
    color: $black;
    font-weight: 700;
}

p {
    font-family: $secondaryFont;
    font-size: 20px;
    line-height: 32px;
    color: $grey;
    font-weight: 400;
    @include max(910px) {
        font-size: 16px;
        line-height: 25.6px;
    }
}