p, span {
    color: $black;
}

.label {
    font-size: 14px;
    line-height: 14px;
    font-weight: 600;
    font-family: $primaryFont;
    color: $accent01--active;
    text-transform: uppercase;
}

h1 {
    font-family: $primaryFont;
    font-size: 40px;
    line-height: 52px;
    color: $black;
    font-weight: 700;
    @include max(910px) {
        font-size: 32px;
        line-height: 36px;
    }
}

h2 {
    font-family: $primaryFont;
    font-size: 34px;
    line-height: 44.2px;
    color: $black;
    font-weight: 700;
    @include max(910px) {
        font-size: 26px;
        line-height: 33.8px;
    }
}

h3 {
    font-family: $primaryFont;
    font-size: 22px;
    line-height: 28.6px;
    color: $black;
    font-weight: 700;
    & + .wp-block-columns {
        margin-top: 30px;
    }
}

p {
    font-family: $secondaryFont;
    font-size: 20px;
    line-height: 32px;
    color: $black;
    font-weight: 400;
    @include max(910px) {
        font-size: 16px;
        line-height: 25.6px;
    }
    a {
        text-decoration: none;
        position: relative;
        font-weight: 500;
        color: $black;
        white-space: pre;
        transition: .3s ease-in-out;
        &::after {
            content: "";
            width: 100%;
            top: calc(100% + 2px);
            left: 0;
            height: 3px;
            border-radius: 1000px;
            background-color: $accent01--active;
            position: absolute;
            transition: .3s ease-in-out;
        }
        &:hover {
            color: $accent01;
            &::after {
                background-color: $accent01;
            }
        }
        &:active {
            color: $accent01--selected;
            &::after {
                background-color: $accent01--selected;
            }
        }
    }
}

h1, h2, h3, h4, p {
    &.has-text-align-center {
        text-align: center;
        @include max(910px) {
            text-align: left;
        }
    }
}

.has-red-inactive-color {
    color: $accent01--inactive;
}

.has-red-active-color {
    color: $accent01--active;
}

.has-red-hover-color {
    color: $accent01;
}

.has-red-selected-color {
    color: $accent01--selected;
}

.has-blue-inactive-color {
    color: $accent02--inactive;
}

.has-blue-active-color {
    color: $accent02--active;
}

.has-blue-hover-color {
    color: $accent02;
}

.has-blue-selected-color {
    color: $accent02--selected;
}